@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
 ::after
 ::before{
    box-sizing: border-box;
 }

 body{
    font-family: 'Poppins',sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;

 }

 .wrapper{
    align-items: stretch;
    display: flex;
    width: 100;

 }

 #sidebar{
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;

 }

 .main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35 ease-in-out;
    width: 100%;
    background-color: #fff;
 }

 a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 }

 li{
    list-style: none;
 }


 .sidebar-logo{
    padding: 1.15rem;

 }

 .sidebar-logo a{
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
 }

.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;

}

.sidebar-header{
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;

}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.navbar{
    background: var(--bs-dark-bg-subtle);
    padding: 10px;
}


.avatar{
    height: 40px;
    width: 40px;

}

.navbar-expand .navbar-nav{
    margin-left: auto;
}

/* Sidebar toggle */
#sidebar.collapsed{
    margin-left: -264px;
}

.content{
    flex:1;
    max-width: 100vw;
    width: 100vw;

}

@media(min-width:768px){
    .content{
        max-width: auto;
        width: auto;
    }
}
.card{
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.257rem;
    color: var(--bs-emphasis-color);

}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.257rem;
    color: var(--bs-emphasis-color);

}

.box{
    background: var(--bs-dark-bg-subtle);
}



